<html>

<head>
    <title>aniGrab | error</title>
    <link rel="stylesheet" href="{{ url_for(".static", filename="vendor/bootstrap/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for(".static", filename="css/style.css") }}">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid bg-dark text-light">
            <div class="container text-center">
                <h1 class="display-4">404 NOT FOUND</h1>
                <p class="lead">Anigrab.Py is a simple tools for scraping download link anime from some website</p>
            </div>
        </div>
    </div>
</body>
<script>
<script src="{{ url_for('.static', filename='vendor/jquery/jquery.min.js') }}">
</script>
<script src="{{ url_for('.static', filename='vendor/popper/popper-1.14.3.min.js') }}"></script>
<script src="{{ url_for('.static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

</html>