<html>

  <head>
    <title>aniGrab</title>
    <link rel="stylesheet" href="{{ url_for(".static", filename="vendor/bootstrap/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for(".static", filename="css/style.css") }}">
  </head>

  <body>
    <div class="container-fluid">
      <div class="jumbotron jumbotron-fluid bg-dark text-light">
        <div class="container text-center">
          <h1 class="display-4">ANIGRAB.PY</h1>
          <p class="lead">Anigrab.Py is a simple tools for scraping download link anime from some website</p>
          <form action="" method="POST" accept-charset="utf-8">
            <div class="form-row">
              <div class="col-7">
                {{ form.csrf_token }}
                {{ form.keyword(class="form-control") }}
              </div>
              <div class="col">
                {{ form.listSite(class="form-control") }}
              </div>
              <div class="col">
                {{ form.btnCari(class="form-control") }}
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="container result">
        <table class="table table-dark table-borderless table-hover">
          <thead class="text-center">
            <tr>
              <th class="website">Website</th>
              <th class="url">Url</th>
            </tr>
          </thead>
          <tbody>
            {% for website in data %}
              {% if data[website]|length >= 1 %}
                <tr>
                  <td>{{ website }}</td>
                  <td>
                    <ul>
                      {% for url in data[website] %}
                        {% if "error" in url %}
                          <li><p>{{ url["error"] }}</p></li>
                        {% else %}
                          <li><a href="{{ url["link"] }}" target="blank">{{ url["title"] }}</a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="{{ url_for('.static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='vendor/popper/popper-1.14.3.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

</html>